/*Responsiv navigasjonsmeny*/
/* Gjør navigasjonselementene i header til flexbokser som er justert mellomrom og til høyre */
header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Skjuler standard navigasjonsmeny */
.navbar {
    display: none;
}

/* Styler responsiv navigasjonsmeny */
.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #000000;
    margin-top: 0;
    padding: 0;
    top: 90px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: #fff;
    display: inline-block;
    padding: 1.5rem;
    text-decoration: none;
}
/*____________________________________________________________________*/

/*legger til fonter for hele siden*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid_container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header{
    font-size: 1.5rem;
    grid-area: header;
}






/*Designer logoen*/
.logo a{
    color: #000000;
    text-decoration: underline;
}
/*Deler opp logoen for å få den lik som i wireframesene*/
a.Kicks{
    color: #D40000;
}

/*Designer hamburger ikonet*/
#ham{
    display: flex;
    align-items: center;   
}

/*Designer søke og handlekurv ikon*/
#ikoner{
    display: flex;
    align-items: center;   
    justify-content: space-between;    
}

/*MAIN*/

main{
    grid-area: main;
}


#forside{
    /*Bakgrunnsbilde*/
    background-image: url("/img/ForsideBilde.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    /*Teksten*/
    color: #fff;
    display: flex;
    flex-direction: column;
}

/*Tekst på forsiden*/
main section p{
    font-size: 1.3rem;
    font-weight:bold;
    margin-left: 1.5rem;
}

/*Designer knappen på forsiden*/
#knapp{
    display: inline-block;
    padding: 1rem;
    background-color: #171717;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 300;
    text-decoration: none;
    border-color: #fff;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*Produkt liste*/
#produkt_liste{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}






/*Design på produktsiden*/

#produktside{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#bildeOgPiler{
    display: flex;
    flex-direction: row;
}

#bildeOgPiler img{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#bildeOgPiler i{
    display: flex;
    align-items: center;
    color: #000000;
}

#velg-storrelse{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    margin-top: 1.5rem;
    width: 75%;
}

#pris-knapp{
    display: flex;
    justify-content: center;
    width: 75%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #D40000;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 300;
    text-decoration: none;
}

#produktside p{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    margin-top: none;
}

#sidebar-hoyre h3{
    display: none;
} 

#produkt-overskrift{
    text-align: center;
}

#legg-i-handlekurv{
    display: flex;
    justify-content: center;
}



/*Designer handlekurv siden*/
#handlekurv{
    border-style: solid;
    margin-left: 1rem;
    margin-right: 1rem;
}
#handlekurv h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#handlekurv-produkt img{
    width: 30%;
}

#handlekurv-produkt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#info-produkt div{
    display: flex;
    justify-content: space-around;
}


#oppsummering{
    display: flex;
    justify-content: space-evenly;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;   
    margin-left: 1rem;
    margin-right: 1rem;
}


#handlekurv h4{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#valg-av-levering div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



#hvit-box{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}

#gronn-box{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}
#rabatt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#rabatt div{
    width: 50%;
    height: 1.5rem;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}


footer{
    grid-area: footer;
    color:#fff;
    background-color: #000000;
    padding: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*tar bort bokser som jeg legger til i bredere skjermer produktside*/
.storrelse{
    display: none;
}


    @media only screen and (min-width: 700px) {
        /* Endrer grid-malen for bredere skjermer */
        #grid-container {
            grid-template-areas: "header header header" "main main main" "footer footer footer";
        }


        .logo{
            display: flex;
            justify-content: center;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            list-style: none;
            margin: 0;
        }

        .navbar li a{
            list-style: none;
            text-decoration: none;
            color: #000000;
        }

        #ham{
            display: none;
        }

        #ikoner .fa-magnifying-glass{
            border-style: solid;
            border-color: #000000;
            border-width: 2px;
            padding-right: 20vh;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            border-radius: 5px;
            color: gray;
            margin-right: 1rem;
        }

        #handlekurv{
            max-width: 60vh;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }

        #forside{
            /*Bakgrunnsbilde*/
            background-image: url("/img/ForsideBilde.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 80vh;
            /*Teksten*/
            color: #fff;
            display: flex;
            flex-direction: column;
        }

        /*Designer produkt siden*/
        /*Tar bort velg størrelse knappen fra smalere skjermer*/
        #velg-storrelse {
            display: none;
        }

        .storrelse{
            display: block;
            border-style: solid;
            border-color: #000000;
            border-width: 2px;
            padding: 1rem;
            text-align: center;
            margin: 1rem;
        }
        .str-knapper{
            display: flex;
            flex-direction: row;
        }

        #produktside-bred-skjerm{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #bildeOgPiler img{
            max-width: 70vh;
            height: auto;
        }

        #sidebar-hoyre{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #sidebar-hoyre h3{
            display: block;
        } 

    }
